	<head>
		<meta charset="UTF-8">
		<title>Themelight</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="./frontend/css/font-awesome.min.css">
		<link rel="stylesheet" href="./frontend/css/owl.carousel.css">
		<link rel="stylesheet" href="./frontend/css/owl.transitions.css">
		<link rel="stylesheet" href="./frontend/css/animate.min.css">
		<link rel="stylesheet" href="./frontend/css/lightbox.css">
		<link rel="stylesheet" href="./frontend/css/bootstrap.min.css">
		<link rel="stylesheet" href="./frontend/css/preloader.css">
		<link rel="stylesheet" href="./frontend/css/image.css">
		<link rel="stylesheet" href="./frontend/css/icon.css">
		<link rel="stylesheet" href="./frontend/css/style.css">
		<link rel="stylesheet" href="./frontend/css/responsive.css">

	</head>
    <body>
        <div id="top"></div>
        <script type="module" src="/src/main.ts"></script>

		<script src="./frontend/js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
		<script src="./frontend/js/waypoints.min.js"></script>
		<script src="./frontend/js/lightbox.js"></script>
		<script src="./frontend/js/jquery.counterup.min.js"></script>
		<script src="./frontend/js/owl.carousel.min.js"></script>
		<script src="./frontend/js/html5lightbox.js"></script>
		<script src="./frontend/js/jquery.mixitup.js"></script>
		<script src="./frontend/js/wow.min.js"></script>
		<script src="./frontend/js/jquery.scrollUp.js"></script>
		<script src="./frontend/js/jquery.sticky.js"></script>
		<script src="./frontend/js/jquery.nav.js"></script>
		<script src="./frontend/js/main.js"></script>
	</body>
</html>